@model IEnumerable<ImageViewModel>

@{
    ViewData["Title"] = "Start";
}

@*<p class="alert-danger">
    @ViewData["CurrentTime"]
    <br />
    @ViewData["CacheData"]
    <br />
    @ViewData["TheName"]
</p>*@
<div class="row" style="margin-top:4em;">
    @*<select></select>*@
</div>

<div class="row">
    <div class="card-columns">
        @foreach (var img in Model)
        {
            <div class="card">
                <div style="max-width:200px; max-height:200px">
                    <img class="card-img-top" src="@img.Path" alt="Card image cap" height="200">
                </div>
                <div class="card-body">
                    <h5 class="card-title">@img.Name</h5>
                    <p class="card-text"><small class="text-muted">Skapad: @img.DisplayDate</small></p>
                </div>
            </div>
        }
    </div>
</div>
